<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Docuvault"
        tools:targetApi="31">

        <!-- Declare com.hari.docuvault.LoginActivity as the launcher activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Docuvault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hari.docuvault.HomeActivity" />
        <activity android:name="com.hari.docuvault.GoogleSignInActivity" />
        <activity android:name="com.hari.docuvault.PermissionsActivity" />


        <!-- Google Sign-In metadata -->
        <meta-data
            android:name="com.google.android.gms.client_id"
            android:value="@string/server_client_id" />





    </application>

</manifest>
